/* screen - ai-chat-dashboard-8 */

.ai-chat-dashboard-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1859px;
  overflow: hidden;
  width: 1400px;
}

.ai-chat-dashboard-8 .overlap-group2 {
  height: 1951px;
  margin-top: -4px;
  position: relative;
  width: 1441px;
}

.ai-chat-dashboard-8 .vector-3 {
  height: 15px;
  margin-bottom: 0;
  margin-left: 27px;
  object-fit: cover;
  width: 19px;
}

.ai-chat-dashboard-8 .vector-4 {
  margin-bottom: 5.5px;
  margin-left: 0;
  margin-top: 5.5px;
  object-fit: cover;
  width: 14px;
}

.ai-chat-dashboard-8 .vector-5 {
  height: 19px;
  margin-top: 0;
  object-fit: cover;
  width: 15px;
}

.ai-chat-dashboard-8 .vector-6 {
  align-self: center;
  height: 14px;
  margin-left: 26px;
  margin-top: 1.8px;
  object-fit: cover;
  width: 14px;
}

.ai-chat-dashboard-8 .vector-7 {
  align-self: flex-end;
  height: 17px;
  margin-bottom: 0;
  margin-left: 25px;
  object-fit: cover;
  width: 17px;
}

.ai-chat-dashboard-8 .shape {
  height: 18px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 485px;
  width: 24px;
}

.ai-chat-dashboard-8 .icon {
  display: flex;
  height: 24px;
  left: 0;
  position: absolute;
  top: 1643px;
  width: 24px;
}

.ai-chat-dashboard-8 .vector-8 {
  flex: 1;
  margin-bottom: 2.2px;
  margin-left: 2.2px;
  margin-right: 2.2px;
  margin-top: 2.2px;
  object-fit: cover;
  width: 19.52px;
}

.ai-chat-dashboard-8 .line-4 {
  height: 1px;
  left: 0;
  top: 56px;
  width: 1440px;
}

.ai-chat-dashboard-8 .builder-menu {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: inset -1px 0px 0px #e2e2ea;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1775px;
  padding: 20px 0;
  position: absolute;
  top: 57px;
  width: 250px;
}

.ai-chat-dashboard-8 .overlap-group {
  align-items: flex-start;
  border: 4px solid;
  border-color: var(--azure-radiance);
  border-radius: 10px;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  min-width: 28px;
  padding: 0 5px;
}

.ai-chat-dashboard-8 .help {
  align-items: center;
  display: flex;
  gap: 11px;
  margin-left: 22.0px;
  margin-top: 31px;
  min-width: 131px;
}

.ai-chat-dashboard-8 .shape-1 {
  flex: 1;
  margin-bottom: -2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: -2.5px;
  object-fit: cover;
  transform: rotate(-90deg);
  width: 7px;
}

.ai-chat-dashboard-8 .icon-text {
  display: flex;
  height: 28px;
  width: 112px;
}

.ai-chat-dashboard-8 .menu {
  flex: 1;
  height: 30px;
  letter-spacing: 0.14px;
  line-height: 20px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .sales-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  margin-right: 1px;
  max-height: 32px;
  min-width: calc(100.00% - 1px);
}

.ai-chat-dashboard-8 .icon-text-1 {
  align-items: flex-end;
  display: flex;
  gap: 22px;
  height: 21px;
  margin-bottom: 1.0px;
  margin-left: 19px;
  min-width: 127px;
}

.ai-chat-dashboard-8 .menu-active {
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -4.0px;
  min-height: 22px;
  min-width: 85px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .product-list {
  align-items: flex-end;
  display: flex;
  gap: 58px;
  height: 20px;
  min-width: 168px;
}

.ai-chat-dashboard-8 .sub-menu {
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -5px;
  min-height: 22px;
  min-width: 84px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .icon-text-2 {
  align-items: flex-end;
  display: flex;
  gap: 22px;
  height: 21px;
  min-width: 139px;
}

.ai-chat-dashboard-8 .menu-1 {
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -4px;
  min-height: 22px;
  min-width: 97px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .icon-text-3 {
  align-items: flex-end;
  display: flex;
  gap: 22px;
  height: 21px;
  justify-content: flex-end;
  margin-bottom: 1.0px;
  margin-left: 19px;
  min-width: 82px;
}

.ai-chat-dashboard-8 .sub-menu-1 {
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  white-space: nowrap;
  width: 99px;
}

.ai-chat-dashboard-8 .schedule {
  display: flex;
  height: 22px;
  margin-left: 21px;
  margin-top: 31px;
  width: 110px;
}

.ai-chat-dashboard-8 .icon-text-4 {
  align-items: flex-end;
  display: flex;
  gap: 21px;
  height: 22px;
  min-width: 112px;
}

.ai-chat-dashboard-8 .menu-2 {
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -3.0px;
  min-height: 22px;
  min-width: 69px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .icon-text-5 {
  align-items: flex-end;
  display: flex;
  gap: 22px;
  height: 21px;
  min-width: 97px;
}

.ai-chat-dashboard-8 .menu-3 {
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -4.0px;
  min-height: 22px;
  min-width: 55px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .icon-text-6 {
  align-items: center;
  display: flex;
  gap: 22px;
  height: 22px;
  min-width: 102px;
}

.ai-chat-dashboard-8 .menu-4 {
  align-self: flex-end;
  letter-spacing: 0.10px;
  line-height: 14px;
  margin-bottom: -3.0px;
  min-height: 22px;
  min-width: 60px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .group-47727 {
  display: flex;
  height: 73px;
  left: 303px;
  position: absolute;
  top: 105px;
  width: 498px;
}

.ai-chat-dashboard-8 .rectangle-29946 {
  background-color: var(--white);
  border-radius: 10px;
  height: 856px;
  left: 1049px;
  position: absolute;
  top: 190px;
  width: 359px;
}

.ai-chat-dashboard-8 .calendar-collapsed-light {
  background-color: var(--white);
  border-radius: 7.73px;
  display: flex;
  flex-direction: column;
  height: 367px;
  justify-content: space-between;
  left: 1049px;
  position: absolute;
  top: 190px;
  width: 358px;
}

.ai-chat-dashboard-8 .overlap-group-1 {
  align-items: flex-end;
  align-self: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 18.03px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 19px;
  min-width: 36px;
  padding: 3.0px 11.2px;
}

.ai-chat-dashboard-8 .number {
  letter-spacing: 0;
  line-height: 15.5px;
  margin-bottom: -1px;
  margin-left: 19px;
  min-height: 23px;
  text-align: center;
  width: 20px;
}

.ai-chat-dashboard-8 .number-1 {
  letter-spacing: 0;
  line-height: 15.5px;
  margin-bottom: -2px;
  margin-left: 23px;
  min-height: 23px;
  text-align: center;
  width: 21px;
}

.ai-chat-dashboard-8 .group-239379 {
  align-items: flex-start;
  background-color: var(--hint-of-red);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 1069px;
  min-height: 92px;
  padding: 14px 16px;
  position: absolute;
  top: 559px;
  width: 319px;
}

.ai-chat-dashboard-8 .vuesaxboldcalendar {
  display: flex;
  margin-top: 2px;
  opacity: 0.4;
  width: 24px;
}

.ai-chat-dashboard-8 .vector {
  flex: 1;
  height: 7.09px;
  margin-left: 3.0px;
  margin-right: 3.0px;
  margin-top: 1.3px;
  max-height: 7.09px;
  object-fit: cover;
}

.ai-chat-dashboard-8 .vector-1 {
  flex: 1;
  height: 12.16px;
  margin-bottom: 2.0px;
  margin-left: 3px;
  margin-right: 3px;
  max-height: 12.16px;
  object-fit: cover;
}

.ai-chat-dashboard-8 .group-239378 {
  align-items: flex-start;
  background-color: var(--hint-of-red);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 1069px;
  min-height: 92px;
  padding: 14px 16px;
  position: absolute;
  top: 667px;
  width: 319px;
}

.ai-chat-dashboard-8 .group-239377 {
  align-items: flex-start;
  background-color: var(--hint-of-red);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 1069px;
  min-height: 92px;
  padding: 14px 16px;
  position: absolute;
  top: 775px;
  width: 319px;
}

.ai-chat-dashboard-8 .group-239376 {
  align-items: flex-start;
  background-color: var(--hint-of-red);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 1069px;
  min-height: 92px;
  padding: 14px 16px;
  position: absolute;
  top: 883px;
  width: 319px;
}

.ai-chat-dashboard-8 .vector-24 {
  height: 1px;
  left: 1069px;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 319px;
}

.ai-chat-dashboard-8 .group-77 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 52px;
  left: 1336px;
  min-width: 52px;
  padding: 0 14px;
  position: absolute;
  top: 101px;
}

.ai-chat-dashboard-8 .vector-9 {
  height: 5px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 2px;
}

.ai-chat-dashboard-8 .vector-10 {
  height: 20px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 20px;
}

.ai-chat-dashboard-8 .vector-11 {
  height: 4px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 9px;
}

.ai-chat-dashboard-8 .vector-12 {
  height: 24px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 24px;
}

.ai-chat-dashboard-8 .light-field-default {
  background-color: var(--black-haze);
  border: 1px solid;
  border-color: var(--athens-gray);
  border-radius: 16px;
  display: flex;
  height: 48px;
  left: 788px;
  position: absolute;
  top: 106px;
  width: 361px;
}

.ai-chat-dashboard-8 .placeholder {
  color: var(--comet);
  font-weight: 400;
  height: 23px;
  line-height: 24px;
  margin-left: 16px;
  margin-top: 13.5px;
  white-space: nowrap;
  width: 53px;
}

.ai-chat-dashboard-8 .group-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 307px;
  min-height: 830px;
  position: absolute;
  top: 236px;
  width: 686px;
}

.ai-chat-dashboard-8 .thursday-8-july {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 27px;
  width: 149px;
}

.ai-chat-dashboard-8 .group-34 {
  align-items: flex-start;
  display: flex;
  height: 136px;
  margin-top: 23px;
  min-width: 686px;
}

.ai-chat-dashboard-8 .x1500 {
  flex: 1;
  height: 25px;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -2px;
  max-height: 25px;
  text-align: center;
}

.ai-chat-dashboard-8 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  min-height: 134px;
  width: 540px;
}

.ai-chat-dashboard-8 .meeting {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 22px;
  width: 58px;
}

.ai-chat-dashboard-8 .collaboration-e-commerce-mobile-ui-kits {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 4px;
  min-height: 25px;
  width: 336px;
}

.ai-chat-dashboard-8 .his-dolorem-habemus {
  color: var(--mountain-mist-2);
  font-weight: 400;
  height: 83px;
  line-height: 24px;
  width: 540px;
}

.ai-chat-dashboard-8 .vector-2 {
  height: 2px;
  object-fit: cover;
  width: 2px;
}

.ai-chat-dashboard-8 .group-3 {
  align-items: flex-start;
  display: flex;
  height: 136px;
  margin-top: 25px;
  min-width: 686px;
}

.ai-chat-dashboard-8 .light-button-primary-text {
  align-items: center;
  background-color: var(--blue-ribbon);
  border-radius: 15px;
  display: flex;
  gap: 17px;
  height: 48px;
  justify-content: flex-end;
  left: 1165px;
  min-width: 170px;
  padding: 0 14px;
  position: absolute;
  top: 106px;
}

.ai-chat-dashboard-8 .button {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  min-height: 23px;
  min-width: 94px;
  text-align: center;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .overlap-group-2 {
  height: 20px;
  position: relative;
  width: 20px;
}

.ai-chat-dashboard-8 .line-5 {
  height: 1712px;
  left: 1022px;
  top: 204px;
  width: 1px;
}

.ai-chat-dashboard-8 .line-8 {
  height: 1px;
  left: 250px;
  top: 202px;
  width: 1190px;
}

.ai-chat-dashboard-8 .arrows-1 {
  display: flex;
  height: 7px;
  justify-content: space-between;
  left: 411px;
  position: absolute;
  top: 245px;
  width: 25px;
}

.ai-chat-dashboard-8 .group-41 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  left: 299px;
  min-height: 626px;
  padding: 14px 17.0px;
  position: absolute;
  top: 265px;
  width: 843px;
}

.ai-chat-dashboard-8 .group-82 {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
  padding: 7.5px 7.5px;
}

.ai-chat-dashboard-8 .group-29 {
  align-self: flex-start;
  display: flex;
  gap: 5px;
  height: 24px;
  margin-left: 27.0px;
  width: 91px;
}

.ai-chat-dashboard-8 .icon-1 {
  display: flex;
  transform: rotate(180deg);
  width: 24px;
}

.ai-chat-dashboard-8 .vector-13 {
  flex: 1;
  margin-bottom: 4.5px;
  margin-left: 3.0px;
  margin-right: 3.0px;
  margin-top: 4.5px;
  object-fit: cover;
  transform: rotate(-180deg);
  width: 18px;
}

.ai-chat-dashboard-8 .group-203 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 4.0px;
  margin-top: 25px;
  min-height: 332px;
  width: 759px;
}

.ai-chat-dashboard-8 .icon-text-7 {
  display: flex;
  height: 31px;
  width: 114px;
}

.ai-chat-dashboard-8 .menu-5 {
  flex: 1;
  height: 33px;
  letter-spacing: 0.16px;
  line-height: 22px;
  white-space: nowrap;
}

.ai-chat-dashboard-8 .light-field-default-1 {
  background-image: url(../img/rectangle-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 54px;
  width: 759px;
}

.ai-chat-dashboard-8 .placeholder-1 {
  height: 23px;
  margin-left: 16px;
  margin-top: 13.5px;
  width: 129px;
}

.ai-chat-dashboard-8 .light-field-default-2 {
  align-items: flex-start;
  background-color: var(--black-haze);
  border: 1px solid;
  border-color: var(--athens-gray);
  border-radius: 16px;
  display: flex;
  gap: 14px;
  height: 201px;
  min-width: 759px;
  padding: 13.5px 14px;
}

.ai-chat-dashboard-8 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 111px;
  min-height: 170px;
  width: 153px;
}

.ai-chat-dashboard-8 .placeholder-2 {
  margin-left: 2px;
  min-height: 23px;
}

.ai-chat-dashboard-8 .light-button-primary-text-1 {
  background-color: var(--blue-ribbon);
  border-radius: 15px;
  display: flex;
  height: 34px;
  width: 153px;
}

.ai-chat-dashboard-8 .button-1 {
  color: var(--white);
  margin-left: 10.46%;
  margin-right: 12.42%;
  margin-top: 5.5px;
  width: 118px;
}

.ai-chat-dashboard-8 .group-253 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10.5px;
  width: 81px;
}

.ai-chat-dashboard-8 .path-588 {
  margin-bottom: 0;
  margin-top: 0;
  object-fit: cover;
  width: 35.13px;
}

.ai-chat-dashboard-8 .shape-2 {
  height: 23px;
  object-fit: cover;
  width: 31px;
}

.ai-chat-dashboard-8 .overlap-group-3 {
  align-self: center;
  border-radius: 16px;
  height: 53px;
  margin-left: 4.0px;
  margin-top: 25px;
  position: relative;
  width: 759px;
}

.ai-chat-dashboard-8 .light-field-default-3 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--athens-gray);
  border-radius: 16px;
  display: flex;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 759px;
}

.ai-chat-dashboard-8 .placeholder-3 {
  height: 23px;
  margin-left: 51px;
  margin-top: 13.5px;
  width: 155px;
}

.ai-chat-dashboard-8 .ic_-dashboard-3 {
  background-image: url(../img/combined-shape-9@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 16px;
  width: 22px;
}

.ai-chat-dashboard-8 .lightbuttonprimarytext-container {
  align-items: center;
  display: flex;
  margin-right: 23.0px;
  margin-top: 30px;
  min-width: 459px;
}

.ai-chat-dashboard-8 .light-button-primary-text-3 {
  background-color: var(--mountain-mist);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-left: 12px;
  width: 189px;
}

.ai-chat-dashboard-8 .button-3 {
  color: var(--white);
  margin-left: 38.62%;
  margin-right: 37.04%;
  margin-top: 12.5px;
  width: 46px;
}

.ai-chat-dashboard-8 .light-button-primary-text-4 {
  background-color: var(--blue-ribbon);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-left: 15px;
  width: 189px;
}

.ai-chat-dashboard-8 .button-4 {
  color: var(--white);
  margin-left: 29.1%;
  margin-right: 27.51%;
  margin-top: 12.5px;
  width: 82px;
}

.ai-chat-dashboard-8 .line {
  object-fit: cover;
  position: absolute;
}

.ai-chat-dashboard-8 .placeholder-4 {
  color: var(--comet);
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}
